* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family: "Open Sans, sans-serif";
    src: url(./fonts/OpenSans-Regular.ttf);
}

body {
    width: 1600px;
    margin: 0 auto;
    font-family: "Open Sans, sans-serif";
}

header {
    width: 100%;
    height: 700px;
    background-image: url(./images/apple-256263_1920.jpg);
    background-size: cover;
    position: relative;
}

.heder_transparency {
    width: 100%;
    height: 100%;
    background-image: url(./images/Фигура\ 1.png);
    position: absolute;
}

.heder_h1AndNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 217px;
    padding-top: 45px;
}

.heder_nav {
    width: 829px;
    height: 74px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 80px;
}

.heder_nav_courseway {
    color: white;
    font-size: 52px;
}

.heder_nav_hrefs {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 26px;
}

.aGolovna{
    border-bottom: 2px solid white;
}

.heder_p1 {
    width: 970px;
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding-top: 32px;
    position: relative;
    left: 369px;
    letter-spacing: 2px;
}

.heder_p2 {
    width: 900px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding-top: 52px;
    position: relative;
    left: 410px;
    letter-spacing: 2.2px;
}

.heder_form {
    width: 350px;
    height: 310px;
    padding-top: 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    left: 910px;
}

.heder_form_email {
    width: 350px;
    height: 60px;
    outline: none;
    text-indent: 24px;
    border-radius: 2px;
    border: 1px solid #cbc4c1;
    font-size: 20px;
}

.heder_form_email:focus {
    border: 3px solid #ba271f;
}

.heder_form_password {
    width: 350px;
    height: 60px;
    outline: none;
    text-indent: 24px;
    border: 1px solid #cbc4c1;
    border-radius: 2px;
    font-size: 20px;
}

.heder_form_password:focus {
    border: 3px solid #ba271f;
}

.heder_form_beginButton {
    width: 350px;
    height: 62px;
    background-color: #ba271f;
    border: 1px solid #cbc4c1;
    border-radius: 2px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.heder_form_beginButton:active {
    -webkit-box-shadow: 0 0 20px 5px #ba271f;
            box-shadow: 0 0 20px 5px #ba271f;
}

/*------------------------------------------------Бургер меню----------------*/
.header_mobile_menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 65px;
}

.header_mobile_menu button {
    background-image: url(./images/burger.svg);
    background-color: #ba271f;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    outline: none;
    cursor: pointer;
}

.header_mobile_menu button:active {
    -webkit-box-shadow: 0 0 20px 5px #ba271f;
            box-shadow: 0 0 20px 5px #ba271f;
}

.header_mobile_menu button:hover .mobile_group {
    display: block;
}

.mobile_group {
    display: none;
    position: absolute;
    width: 160px;
    top: 40px;
    font-size: 20px;
    z-index: 1;
}

.menu_mobile_link {
    display: block;
    padding: 5px;
    background-color: #ba271f;
    color: white;
    text-decoration: none;
    text-align: left;
}

.menu_mobile_link:hover {
    background-color: #ff5a51;
}

/*----------------------------------------Переваги---------------------------------*/

.section1 {
    width: 100%;
    height: 630px;
    background-color: #fffcf4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.section1_h2 {
    font-size: 45px;
    font-weight: 100;
    margin-top: 6px;
}

.section1_divs {
    width: 1110px;
    height: 490px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.section1_div1 {
    width: 370px;
    height: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.section1_div1_time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: 180px;
}

.section1_imgs {
    width: 64px;
    height: 64px;
}

.section1_imgs_iPhone {
    width: 40px;
    height: 64px;
}

.section1_div1_any {
    font-size: 30px;
    line-height: 2.5;
}

.section1_div1_anyText {
    margin-top: -18px;
    line-height: 2;
}

.section1_div1_where {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: 180px;
}

.section1_div2_harp {
    width: 450px;
    height: 420px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.section1_div3 {
    width: 370px;
    height: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.section1_div3_device {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: 180px;
}

.section1_div3_one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: 180px;
}

/*--------------------------------------------------Доступні курси----------------------------------*/

.section2 {
    width: 100%;
    height: 792px;
    background-color: #f0f0f0;
}

.section2_hed {
    width: 100%;
    height: 168px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 17px;
    margin-left: -6px;
}

.section2_hed_h2 {
    font-size: 45px;
    line-height: 1.7;
}

.section2_hed_p {
    font-size: 24px;
}

.courses {
    width: 1110px;
    height: 562px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 540px 32px 540px;
    grid-template-columns: 540px 540px;
    -ms-grid-rows: 270px 19px 270px;
    grid-template-rows: 270px 270px;
    row-gap: 19px;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
}

.courses > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.courses > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.courses > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.courses > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.courses_programming {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #e8e8e8;
}

.courses_programming:hover {
    -webkit-transition-duration: 0.7s;
         -o-transition-duration: 0.7s;
            transition-duration: 0.7s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.courses_divText {
    width: 260px;
    margin-top: 3px;
}

.courses_divText_h3 {
    font-size: 26px;
    text-align: center;
    font-weight: 400;
    margin-left: 22px;
}

.courses_divText_p {
    font-size: 16px;
    margin-top: 4px;
    line-height: 1.9;
    margin-left: 15px;
}

.courses_divText_a {
    font-size: 16px;
    line-height: 1.8;
    color: #fa3a5e;
    text-decoration: none;
    cursor: pointer;
    margin-left: 15px;
}

.courses_divText_button {
    width: 160px;
    height: 30px;
    background-color: #ba271f;
    color: white;
    border: 1px solid white;
    font-size: 9px;
    margin-top: 24px;
    margin-left: 88px;
    cursor: pointer;
    outline: none;
}

.courses_divText_button:active {
    -webkit-box-shadow: 0 0 20px 5px #ba271f;
            box-shadow: 0 0 20px 5px #ba271f;
}

.courses_images {
    width: 228px;
    height: 228px;
    margin-top: 27px;
    margin-right: 20px;
    margin-left: 0px;
}

.courses_economy {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #e8e8e8;
}

.courses_economy:hover {
    -webkit-transition-duration: 0.7s;
         -o-transition-duration: 0.7s;
            transition-duration: 0.7s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.courses_development {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #e8e8e8;
}

.courses_development:hover {
    -webkit-transition-duration: 0.7s;
         -o-transition-duration: 0.7s;
            transition-duration: 0.7s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.courses_history {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #e8e8e8;
}

.courses_history:hover {
    -webkit-transition-duration: 0.7s;
         -o-transition-duration: 0.7s;
            transition-duration: 0.7s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

/*-------------------------------------Партнери - освітні заклади---------------------*/

.partners {
    width: 100%;
    height: 462px;
    background-color: #fffcf4;
}

.partners_h2 {
    width: 100%;
    height: 126px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.partners_h2_text {
    font-size: 43px;
    font-weight: 100;
    letter-spacing: 1px;
}

.partners_emblems {
    margin-top: -14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.partners_emblems_buttLeft {
    width: 43px;
    height: 43px;
    background-color: #fffcf4;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    top: 105px;
    left: 95px;
    border-radius: 100%;
}

.partners_emblems_buttLeft:active {
    -webkit-box-shadow: 0 0 20px 5px #ba271f;
            box-shadow: 0 0 20px 5px #ba271f;
}

.partners_emblems_buttRight {
    width: 43px;
    height: 43px;
    background-color: #fffcf4;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    top: 105px;
    left: -85px;
    border-radius: 100%;
}

.partners_emblems_buttRight:active {
    -webkit-box-shadow: 0 0 20px 5px #ba271f;
            box-shadow: 0 0 20px 5px #ba271f;
}

.partners_emblems_blocks {
    width: 1110px;
    height: 305px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.partners_emblems_blocks_one {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    text-decoration: underline;
}

.partners_emblems_blocks_one:hover {
    -webkit-transition-duration: 0s;
         -o-transition-duration: 0s;
            transition-duration: 0s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.partners_emblems_blocks_one:active {
    -webkit-box-shadow: 0 0 20px 5px #ba271f;
            box-shadow: 0 0 20px 5px #ba271f;
    
    -webkit-transform: none;
    
        -ms-transform: none;
    
            transform: none;
}

.getHARVARD{
    color: #ba271f;
}

.partners_emblems_blocks_one_text {
    font-size: 26px;
}

/*------------------------------------------Слайд партнерів-------------------------*/

.box {
    width: 320px;
    height: 160px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.partners_emblems_blocks_one1 {
    height: 200px;
    display: none;
}

.partners_emblems_blocks_one2 {
    height: 200px;
    display: block;
}

.partners_emblems_blocks_one3 {
    height: 200px;
    display: none;
}

.partners_emblems_blocks_one4 {
    height: 200px;
    display: none;
}

.partners_emblems_blocks_one_img2 {
    width: 100px;
}

/*------------------------------------------Сертефікат------------------------------*/

.promo {
    width: 100%;
    height: 403px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.promo_img {
    width: 50%;
    background-image: url(./images/education.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.promo_getSertef {
    width: 50%;
    background-color: #a99473;
    color: white;
}

.promo_getSertef_h2 {
    font-size: 33px;
    font-weight: 100;
    margin-top: 35px;
    margin-left: 110px;
}

.sertCambridge {
    display: none;
}

.sertHarvard {
    display: block;
}

.sertMit {
    display: none;
}

.sertUCLA {
    display: none;
}

.promo_getSertef_p {
    width: 360px;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 97px;
    line-height: 2.1;
}

.promo_getSertef_button {
    width: 262px;
    height: 65px;
    background-color: #ba271f;
    border: 1px solid #cbc4c1;
    border-radius: 2px;
    color: white;
    font-size: 22px;
    outline: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 38px;
    margin-left: 97px;
}

.promo_getSertef_button:active {
    -webkit-box-shadow: 0 0 20px 5px #ba271f;
            box-shadow: 0 0 20px 5px #ba271f;
}

/*------------------------------------------------Розробники--------------------------------*/

.ourTeam {
    width: 100%;
    height: 691px;
    background-color: #fffcf4;
}

.ourTeam_h2 {
    width: 100%;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.ourTeam_h2_text {
    font-size: 47px;
    font-weight: 100;
}

.ourTeam_block {
    width: 1110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-top: 12px;
}

.ourTeam_block_imfo {
    width: 255px;
    height: 510px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.ourTeam_block_imfo_img {
    border: 1px solid white;
}

.ourTeam_block_imfo_name {
    font-size: 20px;
    margin-top: 14px;
    font-weight: bold;
}

.ourTeam_block_imfo_p {
    font-size: 14px;
    margin: 0 auto;
    width: 205px;
    margin-top: -5px;
    line-height: 1.6;
}

.ourTeam_block_imfo_a {
    width: 115px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/*----------------------------------------Зареєструйся зараз-----------------------*/

.form {
    width: 100%;
    height: 483px;
    background-color: #b4a184;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.form_reg {
    height: 385px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto 0;
    margin-top: 38px;
}

.form_reg_h2 {
    font-size: 60px;
    font-weight: 100;
    margin-left: -72px;
}

.form_reg_p {
    font-size: 25px;
    margin-left: -75px;
    margin-top: -5px;
}

.form_reg_inName {
    width: 540px;
    height: 65px;
    text-indent: 33px;
    font-size: 24px;
    margin-left: -20px;
    margin-top: 20px;
    outline: none;
}

.form_reg_inName:focus {
    border: 3px solid #ba271f;
}

.form_reg_inEmail {
    width: 540px;
    height: 65px;
    text-indent: 33px;
    font-size: 24px;
    margin-left: -20px;
    margin-top: 29px;
    outline: none;
}

.form_reg_inEmail:focus {
    border: 3px solid #ba271f;
}

.form_reg_submit {
    width: 160px;
    height: 65px;
    font-size: 24px;
    background-color: #ba271f;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    border: 1px solid white;
}

.form_reg_submit:active {
    -webkit-box-shadow: 0 0 20px 5px #ba271f;
            box-shadow: 0 0 20px 5px #ba271f;
}

/*---------------------------------------------------Зроблено з любов'ю---------------------------*/

footer {
    width: 100%;
    height: 290px;
    background-color: #a99473;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer {
    width: 420px;
    height: 206px;
    color: white;
    margin-top: 52px;
    font-size: 25px;
    margin-left: 25px;
}

.footer_made_p2 {
    margin-top: 10px;
    margin-left: 54px;
}

.footer_made_p_red {
    color: #ba271f;
}

.footer_hrefs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 33px;
    margin-left: -24px;
}

.footer_hrefs_blue {
    width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer_hrefs_red {
    width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/*-------------------------------------------------------------------------------*/
/*--------------------------------------Адаптація--------------------------------*/
/*-------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------*/
/*---------------------------------------1440------------------------------------*/
/*-------------------------------------------------------------------------------*/

@media screen and (max-width: 1620px) {
    body {
        width: 1440px;
    }

    .heder_h1AndNav {
        padding-left: 0px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .heder_p1 {
        left: 325px;
    }

    .heder_p2 {
        left: 395px;
    }

    .heder_form {
        left: 935px;
    }

/*--------------------------------------------------Доступні курси----------------------------------*/

    .section2_hed {
        margin-bottom: 0px;
        margin-left: 0px;
    }

    /*-------------------------------------Партнери - освітні заклади---------------------*/

    .partners_emblems_buttLeft {
        left: 40px;
    }

    .partners_emblems_buttRight {
        left: -40px;
    }

    /*------------------------------------------Сертефікат------------------------------*/

    .promo_img {
        width: 50%;
    }

    .promo_getSertef {
        width: 50%;
    }

    /*----------------------------------------Зареєструйся зараз-----------------------*/

    .form_reg_h2 {
        margin-left: 0px;
    }

    .form_reg_p {
        margin-left: 0px;
    }

    .form_reg_inName {
        margin-left: 0px;
    }

    .form_reg_inEmail {
        margin-left: 0px;
    }

    /*---------------------------------------------------Зроблено з любов'ю---------------------------*/

    .footer {
        height: none;
        margin-top: none;
        margin-left: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: 0px;
    }

    .footer_hrefs {
        margin-top: none;
        margin-left: 0px;
    }

    .footer_made_p2 {
        margin-left: 0px;
        text-align: center;
    }
}

/*-------------------------------------------------------------------------------*/
/*---------------------------------------1280------------------------------------*/
/*-------------------------------------------------------------------------------*/

@media screen and (max-width: 1450px) {
    body {
        width: 1280px;
    }

    .heder_p1 {
        left: 245px;
    }

    .heder_p2 {
        left: 315px;
    }

    .heder_form {
        left: 855px;
    }

    /*-------------------------------------Партнери - освітні заклади---------------------*/

    .partners_emblems_buttLeft {
        left: 10px;
    }

    .partners_emblems_buttRight {
        left: -10px;
    }
}

/*-------------------------------------------------------------------------------*/
/*---------------------------------------900-------------------------------------*/
/*-------------------------------------------------------------------------------*/

@media screen and (max-width: 1300px) {
    body {
        width: 900px;
    }

    .heder_h1AndNav {
        padding-left: 0px;
        padding-top: 45px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .heder_nav {
        width: 100%;
        padding-left: 0px;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .heder_p1 {
        width: 100%;
        left: 0px;
        text-align: center;
        font-size: 40px;
    }

    .heder_p2 {
        width: 100%;
        left: 0px;
        text-align: center;
        padding-top: 10px;
        font-size: 30px;
    }

    .heder_form {
        left: 0px;
        margin: 0 auto;
    }

    /*----------------------------------------Переваги---------------------------------*/

    .section1_divs {
        width: 100%;
    }

    .section1_div1 {
        width: 40%;
    }

    .section1_div2_harp {
        width: 20%;
    }

    .section1_div3 {
        width: 40%;
    }

    /*--------------------------------------------------Доступні курси----------------------------------*/

    .section2 {
        height: 700px;
    }

    .courses {
        width: 876px;
        -ms-grid-columns: 410px 410px;
        grid-template-columns: 410px 410px;
        -ms-grid-rows: 230px 230px;
        grid-template-rows: 230px 230px;
        margin-left: 24px;
    }

    .courses > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .courses > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .courses > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .courses > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .courses_divText {
        width: 45%;
        margin-top: 10px;
    }

    .courses_divText_h3 {
        font-size: 20px;
        margin-left: 0px;
    }

    .courses_divText_p {
        font-size: 16px;
        margin-top: 4px;
        line-height: 1;
        margin-left: 5px;
    }
    .courses_divText_a {
        font-size: 16px;
        line-height: 1;
        margin-left: 5px;
    }
    .courses_divText_button {
        width: 160px;
        height: 30px;
        font-size: 9px;
        margin-top: 8px;
        margin-left: 5px;
    }

    .courses_images {
        width: 180px;
        height: 180px;
        margin-top: 27px;
        margin-right: 20px;
        margin-left: 0px;
    }

    /*-------------------------------------Партнери - освітні заклади---------------------*/

    .partners {
        height: 370px;
    }

    .partners_emblems_blocks {
        width: 80%;
        height: 220px;
    }

    .partners_emblems_blocks_one_img {
        width: 170px;
    }

    .partners_emblems_buttLeft {
        top: 80px;
        left: 10px;
    }

    .partners_emblems_buttRight {
        top: 80px;
        left: -10px;
    }

    /*------------------------------------------Сертефікат------------------------------*/

    .promo_getSertef {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .promo_getSertef_h2 {
        margin-top: 35px;
        margin-left: 0px;
    }

    .promo_getSertef_p {
        margin-left: 0px;
    }

    .promo_getSertef_button {
        margin-left: 0px;
    }

    /*------------------------------------------------Розробники--------------------------------*/

    .ourTeam_block {
        width: 100%;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-top: 0px;
    }

    .ourTeam_block_imfo {
        width: 22%;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
}


/*-------------------------------------------------------------------------------*/
/*--------------------------------------768--------------------------------------*/
/*-------------------------------------------------------------------------------*/

@media screen and (max-width: 920px) {
    body {
        width: 768px;
    }

    header {
        height: 430px;
    }

    .heder_h1AndNav {
        display: block;
    }

    .heder_nav_courseway {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .heder_nav {
        display: none;
    }

    .header_mobile_menu {
        display: block;
    }

    .heder_p1 {
        width: 100%;
        font-size: 30px;
        text-align: center;
        letter-spacing: 0px;
        left: 0px;
        padding-top: 20px;
    }

    .heder_p2 {
        width: 100%;
        font-size: 16px;
        left: 0px;
        text-align: center;
        letter-spacing: 0px;
        padding-top: 5px;
    }

    .heder_form {
        width: 250px;
        height: 170px;
        margin: 0 auto;
        left: 0px;
        padding-top: 20px;
    }

    .heder_form_email {
        width: 250px;
        height: 40px;
        text-indent: 10px;
        font-size: 14px;
    }

    .heder_form_password {
        width: 250px;
        height: 40px;
        text-indent: 10px;
        font-size: 14px;
    }

    .heder_form_beginButton {
        width: 250px;
        height: 40px;
        font-size: 14px;
    }

    /*----------------------------------------Переваги---------------------------------*/

    .section1 {
        height: 400px;
    }

    .section1_h2 {
        font-size: 24px;
        margin-top: 0px;
    }

    .section1_divs {
        width: 100%;
        height: 300px;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .section1_div1 {
        width: 260px;
        height: 280px;
    }

    .section1_div1_time {
        height: 125px;
    }

    .section1_imgs {
        width: 30px;
        height: 30px;
    }

    .section1_imgs_iPhone {
        width: 20px;
        height: 30px;
    }

    .section1_div1_any {
        font-size: 18px;
        line-height: 1;
    }

    .section1_div1_anyText {
        margin-top: 0px;
        line-height: 1;
    }

    .section1_div1_where {
        height: 135px;
    }

    .section1_div2_harp {
        width: 120px;
        height: 280px;
    }

    .section1_div3 {
        width: 260px;
        height: 280px;
    }

    .section1_div3_device {
        height: 125px;
    }

    .section1_div3_one {
        height: 135px;
    }

    /*--------------------------------------------------Доступні курси----------------------------------*/

    .section2 {
        height: 470px;
    }

    .section2_hed {
        height: 80px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .section2_hed_h2 {
        font-size: 24px;
        line-height: 1;
    }

    .section2_hed_p {
        font-size: 16px;
    }

    .courses {
        width: 633px;
        height: 250px;
        -ms-grid-columns: 300px 32px 300px;
        grid-template-columns: 300px 300px;
        -ms-grid-rows: 170px 19px 170px;
        grid-template-rows: 170px 170px;
        row-gap: 19px;
        -webkit-column-gap: 32px;
           -moz-column-gap: 32px;
                column-gap: 32px;
    }

    .courses > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .courses > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .courses > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .courses > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .courses_divText {
        width: 150px;
        margin-top: 10px;
    }

    .courses_divText_h3 {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        margin-left: 0px;
    }

    .courses_divText_p {
        font-size: 12px;
        margin-top: 5px;
        line-height: 1;
        margin-left: 4px;
    }

    .courses_divText_a {
        font-size: 12px;
        line-height: 1;
        margin-left: 4px;
    }

    .courses_divText_button {
        width: 140px;
        height: 25px;
        font-size: 8px;
        margin-top: 0px;
        margin-left: 4px;
    }

    .courses_images {
        width: 144px;
        height: 144px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 0px;
    }

    /*-------------------------------------Партнери - освітні заклади---------------------*/

    .partners {
        height: 215px;
    }

    .partners_h2 {
        height: 50px;
    }

    .partners_h2_text {
        font-size: 24px;
        letter-spacing: 0px;
    }

    .partners_emblems {
        margin-top: 0px;
    }

    .partners_emblems_blocks {
        width: 550px;
        height: 150px;
    }

    .partners_emblems_blocks_one_img {
        width: 120px;
    }

    .partners_emblems_blocks_one_text {
        font-size: 18px;
    }

    .partners_emblems_buttLeft {
        width: 43px;
        height: 43px;
        top: 55px;
        left: 13px;
    }

    .partners_emblems_buttRight {
        width: 43px;
        height: 43px;
        top: 55px;
        left: -13px;
    }

    /*------------------------------------------Сертефікат------------------------------*/

    .promo {
        height: 250px;
    }

    .promo_getSertef {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .promo_getSertef_h2 {
        font-size: 24px;
        margin-top: 0px;
        margin-left: 0px;
        text-align: center;
    }

    .promo_getSertef_p {
        width: 360px;
        font-size: 14px;
        margin-top: 0px;
        margin-left: 0px;
        line-height: 1.5;
    }

    .promo_getSertef_button {
        width: 162px;
        height: 35px;
        font-size: 16px;
        margin-top: 0px;
        margin-left: 0px;
    }

    /*------------------------------------------------Розробники--------------------------------*/

    .ourTeam {
        height: 450px;
    }

    .ourTeam_h2 {
        height: 50px;
    }

    .ourTeam_h2_text {
        font-size: 24px;
    }

    .ourTeam_block {
        width: 100%;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .ourTeam_block_imfo {
        width: 180px;
        height: 380px;
    }

    .ourTeam_block_imfo_name {
        font-size: 20px;
        margin-top: 0px;
    }

    .ourTeam_block_imfo_p {
        font-size: 12px;
        width: 100%;
        margin-top: 0px;
        line-height: 1.6;
    }

    /*----------------------------------------Зареєструйся зараз-----------------------*/

    .form {
        height: 250px;
    }

    .form_reg {
        height: 80%;
        margin-top: 20px;
    }

    .form_reg_h2 {
        font-size: 24px;
    }

    .form_reg_p {
        font-size: 16px;
        margin-top: 0px;
    }

    .form_reg_inName {
        width: 250px;
        height: 40px;
        text-indent: 10px;
        font-size: 14px;
        margin-top: 20px;
    }

    .form_reg_inEmail {
        width: 250px;
        height: 40px;
        text-indent: 10px;
        font-size: 14px;
        margin-top: 10px;
    }

    .form_reg_submit {
        width: 160px;
        height: 40px;
        font-size: 14px;
        margin-top: 10px;
    }
    /*---------------------------------------------------Зроблено з любов'ю---------------------------*/

    footer {
        height: 120px;
    }

    .footer {
        width: 100%;
        height: 60px;
        font-size: 16px;
        margin-top: 10px;
    }

    .footer_made_p2 {
        margin-top: 0px;
    }

    .footer_hrefs {
        margin-top: 10px;
    }

    .footer_hrefs_blue {
        width: 90px;
    }

    .footer_hrefs_red {
        width: 90px;
    }

    .footer_hrefs_img {
        width: 22px;
    }
}

/*-------------------------------------------------------------------------------*/
/*---------------------------------------320-------------------------------------*/
/*-------------------------------------------------------------------------------*/

@media screen and (max-width: 780px) {
    body {
        width: 320px;
    }

    header {
        height: 240px;
    }

    .heder_h1AndNav {
        padding-top: 15px;
    }

    .heder_nav_courseway {
        font-size: 30px;
    }

    .header_mobile_menu {
        top: 15px;
        left: 15px;
    }

    .heder_p1 {
        font-size: 20px;
        padding-top: 20px;
    }

    .heder_p2 {
        font-size: 10px;
    }

    .heder_form {
        width: 150px;
        height: 100px;
    }

    .heder_form_email {
        width: 150px;
        height: 20px;
        text-indent: 10px;
        font-size: 10px;
    }

    .heder_form_password {
        width: 150px;
        height: 20px;
        text-indent: 10px;
        font-size: 10px;
    }

    .heder_form_beginButton {
        width: 150px;
        height: 20px;
        font-size: 10px;
    }

    .header_mobile_menu {
        top: 22px;
        left: 22px;
    }

    .header_mobile_menu button {
        width: 30px;
        height: 30px;
    }

    .mobile_group {
        width: 90px;
        top: 32px;
        font-size: 14px;
    }

    /*----------------------------------------Переваги---------------------------------*/

    .section1 {
        height: 440px;
    }

    .section1_divs {
        width: 100%;
        height: 80%;
        margin-top: -30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .section1_h2 {
        height: 20%;
        font-size: 20px;
    }

    .section1_div1_any {
        font-size: 12px;
    }

    .section1_div1_anyText {
        font-size: 10px;
    }

    .section1_div2_harp_img {
        width: 30px;
    }

    .section1_div1 {
        height: 170px;
    }

    .section1_div1_time {
        height: 80px;
    }

    .section1_div1_where {
        height: 80px;
    }

    .section1_div2_harp {
        display: none;
    }

    .section1_div3 {
        height: 170px;
    }

    .section1_div3_device {
        height: 80px;
    }

    .section1_div3_one {
        height: 80px;
    }

    /*--------------------------------------------------Доступні курси----------------------------------*/

    .section2 {
        height: 800px;
    }

    .section2_hed {
        height: 50px;
    }

    .section2_hed_h2 {
        font-size: 20px;
    }

    .section2_hed_p {
        font-size: 10px;
    }

    .courses {
        width: 300px;
        height: 737px;
        -ms-grid-columns: 300px;
        grid-template-columns: 300px;
        -ms-grid-rows: 170px 19px 170px 19px 170px 19px 170px;
        grid-template-rows: 170px 170px 170px 170px;
        row-gap: 19px;
        -webkit-column-gap: 0px;
           -moz-column-gap: 0px;
                column-gap: 0px;
        margin-left: 10px;
    }

    .courses > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .courses > *:nth-child(2) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .courses > *:nth-child(3) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .courses > *:nth-child(4) {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }

    .courses_development {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
    }

    .courses_economy {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
    }

    .courses_history {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        grid-row: 4/5;
    }

    .courses_programming:hover {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    .courses_economy:hover {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    .courses_history:hover {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    .courses_development:hover {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    /*-------------------------------------Партнери - освітні заклади---------------------*/

    .partners_h2_text {
        font-size: 20px;
        letter-spacing: 0px;
    }

    .partners_emblems {
        display: none;
    }

    /*------------------------------------------Слайд партнерів-------------------------*/

    .box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    /*------------------------------------------Сертефікат------------------------------*/

    .promo {
        height: 200px;
    }

    .promo_getSertef_h2 {
        font-size: 20px;
    }

    .promo_getSertef_p {
        width: 150px;
        font-size: 10px;
        line-height: 1;
    }

    .promo_getSertef_button {
        width: 120px;
        height: 30px;
        font-size: 10px;
    }

    /*------------------------------------------------Розробники--------------------------------*/

    .ourTeam {
        height: 1220px;
    }

    .ourTeam_h2 {
        height: 40px;
    }

    .ourTeam_h2_text {
        font-size: 20px;
    }

    .ourTeam_block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
        -webkit-box-pack: center;
        
            -ms-flex-pack: center;
        
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .ourTeam_block_imfo {
        width: 180px;
        height: 290px;
    }

    .ourTeam_block_imfo_name {
        font-size: 14px;
    }

    .ourTeam_block_imfo_p {
        font-size: 10px;
        line-height: 1;
    }

    /*----------------------------------------Зареєструйся зараз-----------------------*/

    .form {
        height: 165px;
    }

    .form_reg {
        height: 140px;
        margin-top: 10px;
    }

    .form_reg_h2 {
        font-size: 20px;
    }

    .form_reg_p {
        font-size: 10px;
    }

    .form_reg_inName {
        width: 150px;
        height: 20px;
        text-indent: 10px;
        font-size: 10px;
    }

    .form_reg_inEmail {
        width: 150px;
        height: 20px;
        text-indent: 10px;
        font-size: 10px;
    }

    .form_reg_submit {
        width: 80px;
        height: 20px;
        font-size: 10px;
    }

    /*---------------------------------------------------Зроблено з любов'ю---------------------------*/

    footer {
        height: 90px;
    }

    .footer {
        height: 60px;
        font-size: 10px;
    }

    .footer_hrefs_img {
        width: 16px;
    }

    .footer_hrefs_blue {
        width: 70px;
    }

    .footer_hrefs_red {
        width: 70px;
    }
}


/*Всього на виконання роботи затрачено 20 годин*/